.blog-title {
  font-family: 'Playfair Display', serif;
}
/* Background Color */
body {
  background-color: #F5EFE7 !important; /* Lightest background color */
  color: #3E5879; /* Default text color for contrast */
  font-family: 'Playfair Display', serif;
}

/* Top Bar Styling */
.custom-navbar {
  font-size:0.9rem;
  background-color: #213555; /* Dark blue for navbar */
  color: #3E5879;
}

.navbar-brand {
  font-family: 'Playfair Display', serif;
  color: #F5EFE7;
  font-weight: normal;
}

/* Centered Navigation Styling */
.nav-links {
  font-size: 1.1rem;
}

.nav-link {
  font-family: 'Playfair Display', serif;
  color: #F5EFE7;
  font-weight: normal;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-link:hover,
.nav-link.active {
  font-weight: bold;
  text-decoration: underline;
  color: #D8C4B6;
}
/* Buttons */
.btn-primary {
  background-color: #3E5879; /* Medium blue for buttons */
  border-color: #3E5879;
}

.btn-primary:hover {
  background-color: #213555; /* Dark blue on hover */
  border-color: #213555;
}

/* Card or Section Highlights */
.card {
  border-radius: 8px;
  overflow: hidden;
}

.card .card-body {
  padding: 1rem;
}

.card .card-title {
  font-family: 'Playfair Display', serif;
  font-size: 1.25rem;
  font-weight: bold;
}

.card .text-success {
  font-weight: bold;
}

.card .card-text.text-muted {
  font-size: 0.9rem;
}

.card .bg-dark {
  min-height: 200px;
  text-align: center;
  color: #fff;
}

/* custom footer */
.custom-footer {
  font-family: 'Playfair Display', serif;
  color: #3E5879;
  background-color: #3E5879 !important; /* Lightest background color */
}

/* Logo Styling */
.logo {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: bold;
  color: #D8C4B6;
}