.blog-title {
  font-family: 'Playfair Display', serif;
}

/* Top Bar Styling */
.top-bar {
  font-size:0.9rem;
  color: #25282b;
}

/* Logo Styling */
.logo {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: bold;
}

/* Centered Navigation Styling */
.nav-links {
  font-size: 1.1rem;
}

.nav-link {
  font-family: 'Playfair Display', serif;
  color: #e23d3dca;
  font-weight: normal;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-link:hover,
.nav-link.active {
  font-weight: bold;

  text-decoration: underline;
}

.card {
  border-radius: 8px;
  overflow: hidden;
}

.card .card-body {
  padding: 1rem;
}

.card .card-title {
  font-family: 'Playfair Display', serif;
  font-size: 1.25rem;
  font-weight: bold;
}

.card .text-success {
  font-weight: bold;
}

.card .card-text.text-muted {
  font-size: 0.9rem;
}

.card .bg-dark {
  min-height: 200px;
  text-align: center;
  color: #fff;
}
