.blog-title {
  font-family: 'Playfair Display', serif;
}

/* Top Bar Styling */
.top-bar {
  font-size:0.9rem;
  color: #25282b;
}

/* Logo Styling */
.logo {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: bold;
}

/* Centered Navigation Styling */
.nav-links {
  font-size: 1.1rem;
}

.nav-link {
  font-family: 'Playfair Display', serif;
  color: #e23d3dca;
  font-weight: normal;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-link:hover,
.nav-link.active {
  font-weight: bold;

  text-decoration: underline;
}
