<h1>Top Companies You’re Tracking</h1>

<% if @top_companies.any? %>
  <ul>
    <% @top_companies.each do |company| %>
      <li>
        <%= link_to company.company_name, company_path(company) %>
        <% if company.logo_path.present? %>
          <img src="https://image.tmdb.org/t/p/w185<%= company.logo_path %>" alt="<%= company.company_name %> logo">
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You are not tracking any companies yet.</p>
<% end %>
